/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  background
/* ---------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: rgba(235, 102, 102, 1); /* Primary color, can be changed via colors.css */
  pointer-events: none;
}


/* styles
/* ---------------------------------------------- */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #000; 
    background-color: #fff;
}

h1,h2 {
    margin: 0 0 20px 0;
    text-transform: none;
    color: rgba(235, 102, 102, 1);
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
}

h1 {
    font-size: 48px;
}
h4 {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    line-height: 1.5;
}


/* work
/* ---------------------------------------------- */
.works {
    background-color: rgba(235, 102, 102, 1);
}

.works-icon {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    font-size: 40px;
    background:#930000;
    color: #fff;
    line-height: 110px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.works-text {
    color: #930000;
    font-size: 1.3em;
    font-weight: 500;
    margin: 10px 0 10px 0px;
}

.works-icon-dark {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    font-size: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    line-height: 110px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.works-icon-dark a:visited, a:hover{
    color:#fff;
}

.works-icon-dark h4{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 10px 0px;
}

.works-text-dark {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    margin: 10px 0 10px 0px;
}

/* works------------------------------ */

.text{
    margin: -15px 0 40px 0;
    text-decoration:none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    letter-spacing:3px; 
    color: #000;
    font-weight: bold;
}

.portfolio-box-text {
    padding: 5px 0;
    text-align: left;
}

.portfolio-box-text h3 {
    margin-top: 10px;
    text-decoration:none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.modal-content{
    display: flex;
    width: 500px;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
 
}

.modal-header{
    width: 100%;
}

.close{
    float: right;
    font-size: 1.4em;
    font-weight: 800; 
    opacity: .5;
    color: #000;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    margin: 5px 8px 15px 0px;
}


/* text 間距
/* ---------------------------------------------- */

.content-section {
    padding: 80px 0 40px 0;
}

/* hamburger bar icon
/* ---------------------------------------------- */
.button_container {
    position: relative;
    margin-top: 14px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    z-index: 999;
    -webkit-transition: opacity .25s ease;
            transition: opacity .25s ease;
}

/* Animate the top hamburger bar */
.button_container.active .top {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
        -ms-transform: translateY(8px) translateX(0) rotate(45deg);
            transform: translateY(8px) translateX(0) rotate(45deg);
    background: #FFF;
}

/* the middle hamburger  X  */
.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

/* the bottom hamburger icon */
.button_container.active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
            transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: #fff;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 8px;
}

.button_container span:nth-of-type(3) {
    top: 16px;
}

/* header hamburger menu */
.overlay {
    position: fixed;
    display: block; 
    background: rgba(235, 102, 102, 1); /* Primary color, can be changed via colors.css */
    top: 0;
    border: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
            transition: opacity .35s, visibility .35s, height .35s;
    overflow: auto;
}

.overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
        animation-delay: .35s;
}

.overlay.open li:nth-of-type(1) {
    -webkit-animation-delay: .40s;
            animation-delay: .40s;
}

.overlay.open li:nth-of-type(2n) {
    -webkit-animation-delay: .50s;
            animation-delay: .50s;
}

.overlay nav {
    position: relative;
    height: 50%;
    top: 50%;
    font-size: 30px;
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
    text-transform: none;
    font-weight: 600;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 15%;
    height: calc(100% / 8);
    min-height: 65px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    font-size: 34px;
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 50%;
}

.item{
    font-size: 34px;
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}
.item a:link,{
    color: #fff;

}
.item a:link, a:visited {
    color: #fff;

}
.item a:hover, a:active{
    color: #600000;

}
.item p{
    margin-top: 15px;
    font-size: 28px;
}


/* Link underline on hover */
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #fff;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .15s;
            transition: .15s;
}

.submenu{
    display: none;
}

/* Footer
/* ---------------------------------------------- */

footer .copynote{
    color:#fff;
    padding: 20px 0;
    background:rgba(54, 53, 54, 1); /* Dark color/Footer color, can be changed via colors.css */
}


/* Media Queries [min-width:768px]
/* ---------------------------------------------- */

@media(min-width:768px) {

    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.7); /* Primary color, can be changed via colors.css */
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
        -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
                box-shadow: 0 0 10px 2px rgba(0,0,0,.1);

    }

    .navbar-custom.top-nav-collapse .navbar-brand{
        color: #fff;
    }

    .navbar-custom.top-nav-collapse .button_container span{
        background: #fff;
    }

    .navbar-custom.top-nav-collapse .button_container.active span.top,
    .navbar-custom.top-nav-collapse .button_container.active span.bottom{
        background:#fff;
    }


/* work
/* ---------------------------------------------- */

    .modal-content{
        display: flex;
        width: 100%;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px;
 
    }

    .works-icon {
        width: 110px;
        height: 110px;
        margin: 0 auto;
        font-size: 40px;
        background:#930000;
        color: #fff;
        line-height: 110px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -o-transition: all .6s;
        -moz-transition: all .6s;
        -webkit-transition: all .6s;
        -ms-transition: all .6s;
        transition: all .6s;
        }

    .works-text {
        color: #930000;
        font-size: 1.3em;
        font-weight: 500;
        margin: 10px 0 10px 0px;
    }

    .works-icon-dark {
        width: 110px;
        height: 110px;
        margin: 0 auto;
        font-size: 40px;
        border: 2px solid #fff;
        color: #fff;
        line-height: 110px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -o-transition: all .6s;
        -moz-transition: all .6s;
        -webkit-transition: all .6s;
        -ms-transition: all .6s;
        transition: all .6s;
    }

     .works-icon-dark a:visited, a:hover{
        color:#fff;
    }

    .works-text-dark{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 1.6em;
        font-weight: 500;
        margin: 10px 0 10px 0px;
    }
}

/* Media Queries [max-width:767px]
/* ---------------------------------------------- */

@media(max-width:767px) {

    h1 {
        font-size: 30px;
    }

    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.7); /* Primary color, can be changed via colors.css */
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
        -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
                box-shadow: 0 0 10px 2px rgba(0,0,0,.1);

    }

    .navbar-custom.top-nav-collapse .navbar-brand{
        color: #fff;
    }

    .navbar-custom.top-nav-collapse .button_container span{
        background: #fff;
    }

    .navbar-custom.top-nav-collapse .button_container.active span.top,
    .navbar-custom.top-nav-collapse .button_container.active span.bottom{
        background:#fff;
    }

/* work
/* ---------------------------------------------- */

    .modal-content{
        display: flex;
        width: 100%;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px;
 
    }

    .works-icon {
        display: none;
    }
     .works-text {
        color: #930000;
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
        font-weight: 500;
        margin: 10px 0 10px 0px;
    }
    
    .works-icon-dark {
       display: none;
    }


    .works-text-dark{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 1.6em;
        font-weight: 500;
        margin: 10px 0 10px 0px;
    }

}



