@charset "utf-8";
/* CSS Document */

* html #search form dd input {
	margin-top: -1px;
}
/*解決全區導覽按鈕遭切斷的問題*/
* html #global-nav li{
	padding-bottom: 1px;
}

/* 將所有HTML標籤的內距及邊界設為0 */
* {
	margin: 0;
	padding: 0;
}

#blank{
	height:30px;
}
.box{
	line-height:20px;
}