/*html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
	font: inherit;
    vertical-align:baseline;
    background:transparent;
    list-style-type: none; 
}*/
@charset "UTF-8";
body,ul,li,tr,input,select,textarea,form,h1,h2,h3{margin:0; padding:0; list-style:none; font-size:12px; font-family: "微軟正黑體", 'Open Sans', "新細明體", Arial, Helvetica, sans-serif; line-height:20px; color: #505050; letter-spacing:1px;}
button, img{border:none;}
a{color:#505050; text-decoration:none; display:block;}
a:hover{color:gray;} 
span.error{color:#FF838F;}
	
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    -webkit-text-size-adjust:none;
}
body {
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    color: #757373;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
     display:block;
}

