#honors nav > ul > li {
    background: white;
    display: inline-block;
}

#honors nav > ul > li:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#honors nav > ul > li:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#honors nav ul > li:hover {
    background: #f5f5f5;
}
#honors nav ul ul > li:hover {
    background: white;
}

#honors nav ul li a {
    color: black;
    display: block;
    padding: 7px 10px;
}

#honors nav li:hover > ul{
    visibility: visible;
}

#honors nav {
    position: absolute;
    right:5%;
}

#honors nav > ul {
    border-radius: 20px;
    border: #ccc solid 1px;
}

